<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>place</th>
            
        </tr>
    </thead>
    <tfoot>
        <tr *ngFor="let data of datarray">
          <td>
            {{data.name}}
          </td>
          <td>
              {{data.place}}
          </td>

             
        </tr>
    </tfoot>
</table>