@import url('https://fonts.googleapis.com/css?family=Charmonman:700|Encode+Sans+Condensed');

button{
  font-family: 'Charmonman', cursive;
font-family: 'Encode Sans Condensed', sans-serif;
}
.tp_head{
  
  font-family: 'Charmonman', cursive;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: -5px;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited{
  color: white;
  text-decoration: none;
} 
a:hover{
  color: white;
  text-decoration: none;
} 
a:active{
  color: white;
  text-decoration: none;
}



.g-font{
  font-family: 'Pacifico', cursive;
  font: outline;
  font-size: 500%
}
.centre{
  padding-top: 250px;
  padding-left: 35%;

}
.width{
  width:300px;
  height: 200px;
  font-size: 20px;
}
.my-hr{
  margin-left:700px; 
  width: 1000px;
  background-color: black;
}
.navbar-left{
  padding-left: 60%;
}
.login{
 
  min-width: 64px;
  min-height: 40px;
  font-size: 25px;
}

.signup{
  min-width: 64px;
  min-height: 40px;
  font-size: 25px;
  background-color: lightgreen;
}
.form-control{
  height: 50px;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
.input-text[type=text], .input-pass[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
.input-text[type=text]:focus, .input-pass[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */


button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
float: left;
width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  background: black;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.mynavbar{
  background-color:black;
  height: 80px;
  width:100%;
  opacity: 0.8;
 
}

h1{
  color: white;
  opacity: 1;
  
  padding-top: 10px;
  padding-left: 15px;


}



















/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}