<div class="back">
		<table id="myTable">
				
				<tr  *ngFor = "let data of hotelList">
						<td>		  
						<div id="one" style="padding:10px;">
						<div id= "two" class= "horizontal_card">
							<img src="{{data.img}}" >
							
							<div id=data class="side_block">
							<h1 id="a">{{data.hotelname}}</h1>
							<h3>{{data.location}}</h3>
							<div>
								
							<p>A wonderful serenity has taken possession oof spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
							</div>
							<ngb-rating rate="{{data.rating}}" ></ngb-rating>
							
							<button style="margin-left: 375px; margin-top: -20px;" mat-raised-button color="accent" (click)="onSelect(data) "> BOOK NOW </button>
							</div>	
						</div>
						</div>
						</td>
				
</tr>
				
</table>
</div>


































	<!-- <div class="row">
    	<div class="col-md-3"></div>
    	<div class="col-md-9">
    		<table class="table" [mfData]="bookList | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
    			<thead>
    				<tr>
    					<th colspan="5">
    						<div class="row">
    							<div class="col-md-9">
    								Filter by Description:
    								<input class="form-control" [(ngModel)]="filterQuery" />
    							</div>
    							<div class="col-md-3">
    								<label class="label-control">Rows on page</label>
    								<select class="form-control input-sm" [(ngModel)]="rowsOnPage">
    									<option [ngValue]="5">5</option>
    									<option [ngValue]="10">10</option>
    									<option [ngValue]="15">15</option>
    								</select>
    							</div>
    						</div>
    					</th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr *ngFor = "let book of mf.data">
    					<div class="row" style="margin-bottom: 30px;">
    						<div class="col-md-3">
    							<a (click)="onSelect(book)" style="cursor:pointer;">
    								<img class="img-responsive" src="{{serverPath}}/image/book/{{book.id}}.png" />
    							</a>
    						</div>
    						<div class="col-md-9">
    							<h4 (click)="onSelect(book)" style="margin-top:20px; cursor:pointer;">{{book.title}}
    							</h4>
    							<span>{{book.publicationDate}}</span>
    							<p>{{book.author}}</p>
    							<a (click)="onSelect(book)" style="cursor:pointer;"><span>{{book.format | uppercase}}</span></a>
    							<span>{{book.numberOfPages}}</span><span> pages</span>
    							<br />
    							<a (click)="onSelect(book)"><span style="font-size: x-large; color:#db3208">$<span>{{book.ourPrice | number : '1.2-2'}}</span></span></a>
    							<span style="text-decoration:line-through;">$<span>{{book.listPrice | number : '1.2-2'}}</span></span>
    							<p>{{book.description | slice:0:500}}</p>
    						</div>
    					</div>
    				</tr>
    			</tbody>
    			<tfoot>
    				<tr>
    					<td colspan="5">
    						<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
    					</td>
    				</tr>
    			</tfoot>
    		</table>
    	</div>
    </div>
 -->

