<div style="opacity: 0.9; border-radius: 5px ; padding:10px; background-color: white; height: 600px; width: 1200px; margin-left: 23%; margin-top: 50px; ">
  <mat-tab-group style="font-size:20px;" >
  <mat-tab label="Login"  > 
    <div style="padding:50px; ">  
      <div *ngIf="loginError" style="color:red">
        Incorrect username or password
      </div>
      <form (ngSubmit)="onlogin()" class="example-form">
        <div >
          <mat-form-field class="example-full-width"  style="height:100px; width: 350px;">
           <input matInput type="text" id="username" name="username" [(ngModel)]="credential.username" required="required" placeholder="username" style="height: 20px;  font-size: 20px;" >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width" style="height:100px; width: 350px;">
              <input matInput type="password" id="password" name="password" [(ngModel)]="credential.password" required="required" placeholder="Password" style="height: 20px;  font-size: 20px;" >
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit" style="height:40px; font-size:30px; margin-top: 250px;"> Login</button>
        </form>
      </div>
     
  </mat-tab>
  <mat-tab label="Signup"> 
    <div style="padding:50px; ">  
          <div *ngIf="emailSent" style="color:red">
            An Email has been sent to your Email adress you just registered
          </div>
          <form (ngSubmit)="onNewAccount()" class="example-form">
            <div >
              
              <mat-form-field class="example-full-width"  style="height:100px; width: 350px;">
               <input matInput type="text" id="newUsername" name="Username" [(ngModel)]="username" required="required" placeholder="enter username" style="height: 20px;  font-size: 20px;" >
              </mat-form-field>
              <span *ngIf="usernameExists" style="color:red; font-size: 15px;">username already exist, Use a different one</span>
            </div>
            <div>
              <mat-form-field class="example-full-width" style="height:100px; width: 350px;">
                  <input matInput type="email" id="email" name="email" [(ngModel)]="email" required="required" placeholder="Email" style="height: 20px;  font-size: 20px;" >
              </mat-form-field>
              <span *ngIf="emailExists" style="color:red; font-size: 15px;">Email already exist, Login !</span>
            </div>
            <div class="alert alert-success"  *ngIf="emailSent">
                <strong>Email Sent!</strong> Please validate your email address and update your password info.
              </div>

            <button mat-raised-button color="primary" type="submit" style="height:40px; font-size:30px;  margin-top: 80px;"> register</button>
            </form>
          </div>
</mat-tab>
  <mat-tab label="Forget Password">
    
      <div style="padding:50px; ">  
          <div *ngIf="emailNotExists" style="color:red">
            Email not found. Please Signup.
          </div>
          <form (ngSubmit)="onForgetPassword()" class="example-form">
            <div >
              <mat-form-field class="example-full-width"  style="height:100px; width: 350px;">
               <input matInput type="email" id="recoverEmail" name="recoverEmail" [(ngModel)]="recoverEmail" required="required" placeholder="Email" style="height: 20px;  font-size: 20px;" >
              </mat-form-field>
              <p>Enter your registered email adress.</p>
                <div class="alert alert-success"  *ngIf="forgetPasswordEmailSent">
                  <strong>Email Sent!</strong> Check your Email.
                </div>

            </div>
            <button mat-raised-button color="primary" type="submit" style="height:40px; font-size:30px;  margin-top: 80px;">Submit</button>
          </form>
      </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  </mat-tab>
</mat-tab-group>
</div>