
@import url('https://fonts.googleapis.com/css?family=Pacifico');


.welcome{
    font-family: 'Pacifico', cursive;
    font-size: 100px;
    color: white;
    text-shadow: 2px 10px 7px rgba(0,0,0,0.3)
    
}
button{
    margin-left: 41%;
    height: 45px;
    width: 130px;
    border-radius: 29px;
    font-size: 25px;
}