
<div style=    "width: 70%;
margin-left: 26%;
margin-top: 15%;">

    <h1 class="welcome">Welcome to Hotel.io</h1>
    <button mat-raised-button color="primary" routerLink="/hotelList" style="margin-left:30%" >Hotels</button>
    


</div>